.sp_css_body { float: left;
											width: 100%;
											font-size: 12px;
											overflow-y: hidden;
											overflow-x: hidden;
											color: #666;
											line-height: 18px;
											font-family: helvetica;
			}

.sp_css_logo { width: 100%;
											margin-bottom: 3%;
			}

.sp_css_mensaje { background: white;
											text-align: center;
											float: left;
											width:100%;
				}

.sp_css_precio { float: left;
											display: inline;
											text-align: center;
											font-weight: bold;
											margin-bottom: 3%;
											margin-right: auto;
											margin-left: auto;
											padding-top: 2%;
											border: 1px dashed #ccc;
											width: 99%;
											padding-left: 0%;
				}


.sp_css_importe_pagar { font-size: 13.05px;
											line-height:normal;
											font-weight:normal;
											font-family: Helvetica; float:left;
											color: #000; text-align:left;
											width:100%;
					}

.sp_css_banco_imagen { di.splay: block;
											margin-right: auto;
											margin-left: auto;
											margin-bottom: 20px;
					}

.sp_css_banco1 { width: 45%;
											float: left;
											margin-right: 2.5%;
											padding-right: 2%;
											color: #666666;
											font-size: 12px;
											font-family: Helvetica, arial;
			}

.sp_css_banco2 { width: 45%;
											float: left;
											padding-left: 4%;
											border-left-width: 1px;
											border-left-style: dashed;
											border-left-color: #ccc;
											color: #666666;
											font-size: 12px;
											font-family: Helvetica, arial;
				}

.sp_css_modos_titulo { text-align: center;
											display: block;
											font-family: Helvetica, Arial;
											font-size: 21.38px;
											color: #666666;
											margin-bottom: 25px;
					}

.sp_css_modos { width: 100%;
											float: left;
											display: inline;
											text-align: left;
			}

.sp_css_modos_ul { margin-left: 0%;
											list-style-position: inside;
											padding: 0px;
											margin-top: 0px;
											margin-bottom:20px;
				}

.sp_css_primera_linea { color: #666;
											font-style: italic;
											line-height: normal;
											font-size: 14px;
					}