#search_block_top {
  float: right;
  text-align: right;
  padding: 0 25px; }
  @media (max-width: 767px) {
    #search_block_top {
      text-align: center;
      padding: 0;
      margin-top: 15px; } }
  #search_block_top #searchbox {
    position: relative; }
  #search_block_top .btn.button-search {
    background: #8abe26;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #68901e;
    color: #fff;
    text-align: center;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    text-transform: capitalize;
    font-weight: 700;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear; }
    #search_block_top .btn.button-search:hover {
      opacity: 0.7;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear; }
    #search_block_top .btn.button-search:active {
      box-shadow: none; }
  #search_block_top #search_query_top {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    padding: 5px;
    height: 30px;
    z-index: 1;
    color: #888888;
    background: #fff;
    border: 1px solid #f2f2f2;
    margin-bottom: 5px;
    vertical-align: top;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear; }
    #search_block_top #search_query_top:focus {
      box-shadow: none; }

.ac_results {
  background: #fff;
  border: 1px solid #f2f2f2 !important;
  margin-top: -1px; }
  .ac_results li {
    padding: 10px 5px !important;
    cursor: pointer;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: #fff; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }

/*# sourceMappingURL=blocksearch.css.map */
