.pt_custommenu {
  position: relative;
  margin: 0 auto; }
  .pt_custommenu .pt_menu_no_child .parentMenu a:before, .pt_custommenu .pt_menu_cms .parentMenu a:before, .pt_custommenu #pt_menu_home .parentMenu a:before {
    display: none; }
  .pt_custommenu .pt_menu {
    float: left; }
    .pt_custommenu .pt_menu .parentMenu a {
      display: block;
      line-height: 30px;
      padding: 15px 25px;
      color: #fff;
      background: transparent;
      text-transform: uppercase;
      position: relative;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear;
      font-size: 14px;
      font-weight: 900;
      /* 	&:before {
      		background: url(../../../../img/arrow_menu.png) center no-repeat;
      		position: absolute;
      		right: 0;
      		content: "";
      		width: 15px;
      		height: 8px;
      		top:50%;
      		margin-top:-4px;
      	} */ }
      @media (max-width: 1199px) {
        .pt_custommenu .pt_menu .parentMenu a {
          font-size: 14px;
          padding: 15px; } }
      .pt_custommenu .pt_menu .parentMenu a span {
        display: inline-block;
        line-height: 30px; }
    .pt_custommenu .pt_menu:first-child .parentMenu a {
      padding-left: 0;
      border: 0; }
      .pt_custommenu .pt_menu:first-child .parentMenu a:before {
        display: none; }
    .pt_custommenu .pt_menu .popup {
      position: absolute;
      background: #fff;
      -webkit-box-shadow: 0 0 9.6px 0.4px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 9.6px 0.4px rgba(0, 0, 0, 0.1);
      text-align: left;
      z-index: 9;
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px; }
      .pt_custommenu .pt_menu .popup .block2 {
        margin-top: 10px;
        padding: 0 30px 30px 30px;
        float: left;
        clear: both; }
      .pt_custommenu .pt_menu .popup .block1 {
        overflow: hidden;
        float: left;
        padding: 30px; }
        .pt_custommenu .pt_menu .popup .block1 .column {
          float: left;
          width: 200px;
          margin-right: 30px;
          margin-bottom: -99999px;
          padding-bottom: 99999px;
          border-right: 1px solid #f2f2f2; }
          .pt_custommenu .pt_menu .popup .block1 .column.last {
            margin-right: 0;
            border: 0; }
          .pt_custommenu .pt_menu .popup .block1 .column .itemMenuName {
            color: #101010;
            text-transform: uppercase;
            word-wrap: break-word;
            display: block;
            line-height: 35px;
            position: relative;
            font-size: 15px;
            font-weight: 900; }
            .pt_custommenu .pt_menu .popup .block1 .column .itemMenuName:hover {
              color: #ed323a;
              -webkit-transition: all 300ms linear;
              -moz-transition: all 300ms linear;
              -ms-transition: all 300ms linear;
              -o-transition: all 300ms linear;
              transition: all 300ms linear; }
            .pt_custommenu .pt_menu .popup .block1 .column .itemMenuName:last-child {
              border-bottom: 0; }
          .pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName {
            color: #555555;
            text-transform: capitalize;
            display: block;
            font-size: 14px;
            font-weight: 400; }
            .pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName:hover {
              color: #ed323a;
              -webkit-transition: all 300ms linear;
              -moz-transition: all 300ms linear;
              -ms-transition: all 300ms linear;
              -o-transition: all 300ms linear;
              transition: all 300ms linear; }
              .pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName:hover:before {
                border-color: #ed323a;
                -webkit-transition: all 300ms linear;
                -moz-transition: all 300ms linear;
                -ms-transition: all 300ms linear;
                -o-transition: all 300ms linear;
                transition: all 300ms linear; }
            .pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName:after {
              display: none; }
        .pt_custommenu .pt_menu .popup .block1 .blockright {
          width: 220px;
          margin-right: 0; }
    .pt_custommenu .pt_menu.act .parentMenu a, .pt_custommenu .pt_menu.active .parentMenu a {
      color: #ed323a;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear; }

.nav-collapse {
  text-align: left; }

.navbar .nav > li {
  padding: 10px 30px 20px 0; }

#ma-mobilemenu {
  height: auto;
  display: none;
  padding: 3px 0 0 0;
  border-top: 0;
  float: left;
  width: 100%; }

.posmegamenu {
  position: relative;
  line-height: 0; }

.navbar-inner {
  background: transparent;
  border: 0;
  border-radius: 0;
  min-height: 50px;
  text-align: left; }

.navbar {
  margin: 0;
  background: #2e2e2e; }
  .navbar .btn-navbar {
    position: absolute;
    right: 15px;
    top: 8px;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    text-align: center;
    overflow: hidden; }
    .navbar .btn-navbar:before {
      content: "\f03a ";
      font-family: "FontAwesome";
      font-size: 24px;
      color: #fff;
      margin: 0;
      padding: 0; }
    .navbar .btn-navbar .icon-bar {
      display: none; }

.mobilemenu > li:last-child a {
  border-bottom: 0; }

.navbar .brand {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  line-height: 50px;
  display: inline-block;
  padding-left: 20px;
  font-family: "helvetica"; }

.mobilemenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
  display: block;
  width: 100%; }
  .mobilemenu li {
    background: #faf8f8;
    cursor: pointer;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    position: relative; }
    .mobilemenu li a {
      text-decoration: none;
      border-bottom: 1px solid #e0d8d8;
      line-height: 40px;
      font-weight: normal;
      color: #111;
      margin: 0 15px;
      display: block;
      cursor: pointer;
      font-size: 14px;
      text-transform: capitalize; }
    .mobilemenu li.active a, .mobilemenu li a:hover {
      color: #ed323a; }
    .mobilemenu li ul {
      padding: 0 15px; }
      .mobilemenu li ul ul {
        padding: 0 15px; }

/*----------- button mobilemenu -------------*/
.mobilemenu span.head {
  position: absolute;
  top: 15px;
  right: 10px; }
  .mobilemenu span.head a {
    display: block;
    height: 15px;
    padding: 0;
    width: 15px;
    border: 0; }

.mobilemenu .OPEN a:before {
  content: "\f068 ";
  font-family: "FontAwesome";
  line-height: 34px;
  font-size: 14px;
  position: absolute;
  top: -12px;
  right: 17px; }

.mobilemenu .CLOSE a:before {
  content: "\f067 ";
  font-family: "FontAwesome";
  line-height: 34px;
  font-size: 14px;
  position: absolute;
  top: -12px;
  right: 17px; }

/*# sourceMappingURL=custommenu.css.map */
