@import "compass";
@import "../../theme_variables";
.tab-category-container-slider {
	background: #eee url(../../../img/pattern/pattern-gray-granite.png);
	padding:80px 0;
	@media (max-width:$screen-xs-max) {
		padding:30px 0;
	
	}
	.tab-category {
		
	}
	.pos_tab {
		
		display: inline-block;
		width: 100%;
	}
	.tab_cates {
		float:right;
		li {
			position:relative;
			display:inline-block;
			line-height:18px;
			@media(min-width:$screen-lg){
				padding-top:18px;
			}
			padding-bottom:15px;
			margin:0 20px;
			text-transform:capitalize;
			cursor:pointer;
			color:#101010;
			border-bottom:2px solid transparent;
			font:{
				size:15px;
				weight:400;
			}
			@include pos-transition(300ms);
			&.active{
				font-weight:700;
				border-color:$hover-color;
				@include pos-transition(300ms);
				
			}
			&:hover {
				border-color:$hover-color;
				@include pos-transition(300ms);
				
			}
			&:last-child {
				margin-right:0;
			}
			
		}
		@media(max-width:$screen-sm-max){
			margin:0;
			float:none;
			display:inline-block;
			width:100%;
			margin-top:10px;
			li {
				&:first-child {
					margin-left:0;
				}
			}
		}
		@media(max-width:$screen-xs-max){
			li {
				margin-bottom:10px;
			}
		}
		@media(max-width:$screen-xs - 1){
			li {
				margin-left:0;
				margin-right:0;
				float:left;
				clear:both;
			}
		}

	}
	.productTabCategorySlider_left  {
		.item-product {
			padding:30px;
			padding-bottom:15px;
			&:before {
				display:none;
				
			}
			.price-box .price-percent-reduction {
				display: block;
				top:20px;
				left:20px;
			}
			@media (min-width:$screen-md){
				.actions {
					position:absolute;
					bottom:25px;
					right:30px;
					margin:0;
				}
			}
		}
	}
	.row {
		margin:0;
		background:$light-background;
		.col {
			&:hover {
				z-index:2;
			}
			padding:0;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				border-right: 1px solid #f2f2f2;
				pointer-events: none;
				@include pos-transition(500ms);	
			}
			&:last-child {
				&:before {
					display:none;
				}
			}
			&:hover:first-child {
				&:before {
					opacity:0;
					@include pos-transition(500ms);	
				}
			}
			@media (max-width:$screen-sm-max){
				border-bottom:$main_border;
			}
		}
	}
	.productTabCategorySlider_right {
		.item-product {
			@media (min-width:$screen-lg){
				min-height:300px;
			}
			&:after {
				content: "";
				position: absolute;
				border-bottom:$main_border;
				bottom:0;
				right:0;
				left:0;
			}	
			.products-inner {
				float:left;
				width:45%;
				margin-right:20px;
				@media (max-width:360px){
					margin:0 0 10px 0;
					width:100%;
				}
			}
			.product-contents {
				display:block;
				width:auto;
				overflow:hidden;
				@media (max-width:360px){
					overflow:visible;
					display:inline-block;
					width:100%;
				}
				.product-desc {
					font-size:14px;
					color:#666666;
					line-height:25px;
					margin-top:15px;
					max-width:90%;
				}
			}
		}
		.owl-buttons {
			> div {
				top:auto;
				margin-top:0;
				bottom:-45px;
				display:inline-block;
				font-size:0;
				cursor:pointer;
				text-align:center;
				width:25px;
				height:25px;
				line-height:25px;
				border-radius:0;
				background:transparent;
				color:#a2a2a2;
				z-index:1;
				opacity:1;
				@include pos-transition(500ms);	
				i {
					display:none;
				}
				&:before {
					font-size:24px;
				}
				&.owl-prev {
					right:45px;
					left:auto;
					
				}
				&.owl-next{
					right:20px;
				}
				&:hover {
					color:$hover-color;
					@include pos-transition(300ms);
				}
				@media (max-width:$screen-md-max){
					display:none;
				}
			}
		} 
	}
	
}