
.imgloadvpos{
	position:absolute;
	top:15%;
	left:0;
	width:595px;
	height:485px;
	z-index:1003;
	visibility:hidden;
}

.overlayvpos{
	position:absolute;
	top:-50px;
	left:0;
	right:0;
	margin:0 auto;
	z-index:1001;
	opacity:0.96;
	filter:alpha(opacity=96);
	visibility:hidden;
}

.modalvpos{
	position:relative;
	width:595px;
	height:485px;
	padding:0px;
	z-index:1004;
	visibility:hidden;
	margin:0px;
}


.iframevpos{
	padding:0px;
	clear:both;
	width:595px;
	height:485px;
	margin:0px;
	border:0px;
}

.imgloadingvpos{
	position:absolute;
	left:46%;
	top:42%;
}

#intranet{
	position:relative
}


/****************** Front Payment *******************/


.head_payment{
	display: inline-block;
	width: 100%;
}

.body_payment{
	margin-top: 30px
}

.body_payment .title{
	font-weight: bold;
	display: inline-block;
	width: 100%;
	padding-bottom: 10px;
}