<!-- SeguriPago Footer -->
<div id="aseguripago-footer" style="text-align: center;padding-right: 140px;">
	<ul class="icons">
		<li class="img seguripago">

<img  src="{$this_path}resources/img/logofinal.png" alt="{l s='SeguriPago' mod='seguripago'}" usemap="#seguripago">
			<!--<img  src="{$this_path}resources/img/logofinal.png" alt="{l s='SeguriPago' mod='seguripago'}" usemap="#seguripago">-->
			<map name="seguripago">
				<area shape="rect" coords="20,20,135,70" href="https://www.seguripago.pe" alt="seguripago">
				<area shape="rect" coords="145,20,218,70" href="https://www.visanet.com.pe" alt="visa">
				<area shape="rect" coords="225,20,320,70" href="https://www.mastercard.com/pe" alt="mastercard">
			<map>
			<!--
			<a href="https://www.seguripago.pe">
				<img width="94" height="45" src="{$this_path}resources/img/logo-seguripago.jpg" alt="{l s='SeguriPago' mod='seguripago'}">
			</a>
			<a href="http://www.visanet.com.pe">
				<img width="70" height="45" src="{$this_path}resources/img/visa.gif" alt="{l s='SeguriPago' mod='seguripago'}">
			</a>
			<a href="http://www.mastercard.com/pe/">
				<img width="70" height="45" src="{$this_path}resources/img/mastercard.jpg" alt="{l s='SeguriPago' mod='seguripago'}">
			</a>

			<img width="70" height="45" src="{$this_path}resources/img/scotiabank.png" alt="{l s='SeguriPago' mod='seguripago'}">

			<img width="70" height="45" src="{$this_path}resources/img/bcp.png" alt="{l s='SeguriPago' mod='seguripago'}">
			-->


		</li>
	</ul>
</div>
<!--/ SeguriPago Footer -->
