@import "compass";
@import "../../../../theme_variables";
.ma-nivoslider {
	overflow:hidden;
	.pos-loading {
		background :#ECECEC;
		position:relative;
		width:100%;
		span{
			 width: 32px;
			 height: 32px;
			 position: absolute;
			 z-index: 99;
			 background: url("loader.gif") no-repeat center #fff;
			 top:50%;
			 left:50%;
			 right:50%;
			 bottom:50%;
			 margin: -16px 0 0 -16px;
		}
	}
}
.nivoSlider {
	position: relative;
	width: 100%;
	img {
		position: absolute;
		top: 0px;
		left: 0px;
		max-width: none;
	}
	/* If an image is wrapped in a link */
	a.nivo-imageLink {
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		border:0;
		padding:0;
		margin:0;
		z-index:6;
		display:none;
		background:white; 
		filter:alpha(opacity=0); 
		opacity:0;
	}
}
.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}
.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
	img {
		display: block;
	}
}
/* Caption styles */
.nivo-html-caption {
    display: none;
}
@-webkit-keyframes myfirst {
		from {width: 0;}
		to {width: 100%;}
	}
	@keyframes myfirst {
		from {width: 0;}
		to {width: 100%;}
	}
	.timethai.pos_hover{
		-webkit-animation-play-state: paused;
		animation-play-state: paused;
		
	}
/* slideshow edit */
.pos-slideshow{
	position: relative;
	margin-bottom:50px;
	&:hover .nivo-directionNav a {
		opacity:1;
		@include pos-transition(300ms);
	}
	.nivo-directionNav a{
		display: block;
		width: 55px;
		height: 55px;
		line-height:55px;
		border-radius:100%;
		color:$light-text-color;
		background:rgba(255,255,255,0.1);	
		text-align: center;
		font-size: 24px;
		position: absolute;
		z-index: 8;
		cursor: pointer;
		top: 50%;
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		opacity:0;
		@include pos-transition(300ms);
		@media (max-width:$screen-md-max) {
			width: get1024-vw(55px);
			height: get1024-vw(55px);
			line-height:get1024-vw(55px);
			font-size: get1024-vw(20px);
		}
		
		@media (max-width:$screen-xs-max) {
			display: none;
		}
		&.nivo-prevNav{
			left:20px;
			@media (max-width:$screen-md-max) {
				left:0;
			}
		}
		&.nivo-nextNav{
			right:20px;
			@media (max-width:$screen-md-max) {
				right:0;
			}
		}
		&:hover{
			background:$hover-color;
				@include pos-transition(300ms);
		
		}
	}
	.nivo-controlNav{
		position: absolute;
		bottom:30px;
		@media (max-width:$screen-md-max) {
			bottom:get1024-vw(30px);
		}
		left:0;
		right:0;
		text-align:center;
		z-index: 8;
		@media (max-width:$screen-xs-max) {
			display: none;
		}
		a{
		
			display:inline-block;
			height: 10px;
			border-radius:100%;
			font-size: 0;
			width: 10px;
			margin:0 4px;
			text-align:center;
			cursor: pointer;
			position: relative;
			z-index: 8;
			background:#48475a;
			@include pos-transition(300ms);	
			&.active,&:hover{
				background:$hover-color;
			}
		}
	}
	
}

//text slide

.pos-slideshow-content {
	position: absolute;
	top: 50%;
	left:0;
	right:0;
	z-index: 6;
	text-align:left;
	direction:ltr;
	line-height:1;
	font-weight:400;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	p {
		margin:0;
	}
 
}
.desc1,.desc2  {
	max-width:50%;
	-webkit-animation-duration: 1.5s !important;
	animation-duration:1.5s !important;
	.title1 {
		font-size:18px;
		color:$light-text-color;
		font-weight:normal;
		text-transform:capitalize;
		font-weight:600;
		span {
			color:$hover-color;
		}
	}
	.title2{
		font-size:48px;
		color:$light-text-color;
		font-weight:900;
		margin-bottom:20px;	
		text-transform:uppercase;
		line-height:1.2;
	}
	.title3{
		position:relative;
		margin:0 0 20px 0;
		font-size: 22px;
		color:$light-text-color;
		font-weight:700;
		line-height:25px;
		max-width:90%;
		span {
			color:$hover-color;
		}
		
	}
	.readmore  {
		a {
			@include pos-transition(300ms);
			position:relative;
			font-size:14px;
			color:#141414;
			line-height:42px;
			padding:0 25px;
			text-transform:uppercase;
			background:$light-background;
			border-radius:30px;
			font-weight:normal;
			display:inline-block;
			&:before {
			    font-family: 'Material-Design-Iconic-Font';
				display: inline-block;
				font-size: 18px;
				content: "\f1cb";
				margin-right:10px;
				vertical-align:middle;
			}
			&:hover {
				background:$hover-color;
				color:$light-text-color;
				@include pos-transition(300ms);
			}
		}
	}
}

//fix responsive
@media (max-width:$screen-md-max) {
	.desc1,.desc2  {

		.title1 {
			 font-size:get1024-vw(18px);
		}
		.title2{
			font-size:get1024-vw(30px);
			margin:0 0 get1024-vw(20px) 0;	
		}
		.title3{
			font-size:get1024-vw(18px);
			margin:0 0 get1024-vw(20px) 0;	
			line-height:get1024-vw(25px);		
		}
		.readmore  {
			a {
				font-size:get1024-vw(14px);
				line-height:get1024-vw(35px);
				border-radius:get1024-vw(20px);
				padding:0 get1024-vw(20px);
					&:before {
						font-size:get1024-vw(18px);
					}
			}
		}
	}
	
}
//max 767
@media (max-width:$screen-xs-max) {
	.desc1,.desc2  {
		.title1 {
			 font-size:get767-vw(25px);
		}
		.title2{
			font-size:get767-vw(25px);
			margin:0 0 get767-vw(10px) 0;	
		}
		.title3{
			font-size:get767-vw(14px);
			margin:0 0 get767-vw(10px) 0;	
			line-height:get767-vw(25px);
			max-width:85%;			
		}
		.title4{
			position:relative;
			margin:0 0 get767-vw(10px) 0;	
			font-size:get767-vw(14px);
			line-height:get767-vw(25px);
			span {
				font-size:get767-vw(20px);
			}
			
		}
		.readmore  {
			a {
				font-size:get767-vw(14px);
				line-height:get767-vw(35px);
				padding:0 get767-vw(15px);
					&:before {
						font-size:get767-vw(20px);
					}
			}
		}
	}
}
//max 480
@media (max-width:$screen-xs) {
	.desc1,.desc2  {
		.title1 {
			 font-size:get480-vw(14px);
		}
		.title2{
			font-size:get480-vw(14px);
			margin:0 0 get480-vw(5px) 0;	
		}
		.title3{
			font-size:get480-vw(14px);
			margin:0 0 get480-vw(5px) 0;	
			line-height:get480-vw(25px);
			max-width:85%;	
			display:none;
		}
		.title4{
			position:relative;
			margin:0 0 get480-vw(5px) 0;	
			font-size:get480-vw(14px);
			line-height:get480-vw(25px);
			span {
				font-size:get480-vw(16px);
			}
			
		}
		.readmore  {
			a {
				font-size:get480-vw(12px);
				line-height:get480-vw(25px);
				padding:0 get480-vw(10px);
					&:before {
						font-size:get480-vw(10px);
					}
			}
		}
	}
}
