@import "compass";
@import "../../theme_variables";
#special_products_home {
	margin-bottom:80px;
	.pos-title {
		margin-bottom:35px;
		h2 {
			font-size: 20px;
		}
	}
	.item-product {
		padding:10px 0;
		margin-bottom:30px;
		&:before {
			display:none;
		}
		&:last-child {
			margin:0;
		}
		.products-inner {
			float:left;
			width:125px;
			margin-right:20px;
			@media(max-width:360px){
				width:120px;
			}	
			@media(max-width:320px){
				width:90px;
			}
		}
		.product-contents {
			display:block;
			width:auto;
			overflow:hidden;
			padding:25px 0 0 0;
			position:relative;
			.actions {
				position: absolute;
				background:$light-background;
				left:0;
				right:0;
				top: 40px;
				bottom: 0;
				padding-top: 10px;
				opacity:0;
				@include pos-transition(300ms);
			}
			@media(max-width:360px){
				padding:10px 0 0 0;
				.actions {
					top: 25px;
				}
			}
		}
		&:hover {
			.actions {
				opacity:1;
				@include pos-transition(300ms);
			}
		}
	}
	.owl-buttons {
		> div {
			top:0;
			margin-top:-60px;
			width:25px;
			height:25px;
			line-height:25px;
			color:#a2a2a2;
			background:transparent;
			opacity:1;
			&.owl-prev {
				left:auto !important;
				right:30px;
				
			}
			&.owl-next{
				right:0 !important;
			}&:before {
				font-size:24px;
			}
		}
	} 
}