<!-- PagoEfectivo Footer -->
<div id="etalignet-footer">
	<!--<h4 class="title"> {l s='Shopping 100% secured with:' mod='etetalignet'} </h4> -->
	<ul class="icons">
		<li class="img etalignet"><img src="{$this_path}views/img/logo-payment.jpg" alt="{l s='etalignet' mod='etetalignet'}"></li>
	</ul>
</div>
<!--/ PagoEfectivo Footer -->
