.category-product-slider { position: relative; margin-bottom: 80px; }
.category-product-slider .pos-content { margin: 0 -15px; }
.category-product-slider .pos-title-category { position: relative; display: block; margin-bottom: 20px; }
.category-product-slider .pos-title-category h2 { position: relative; display: inline-block; line-height: 1; text-transform: uppercase; color: #101010; padding-bottom: 15px; letter-spacing: 0.03em; font-size: 20px; font-weight: 900; }
@media (max-width: 991px) { .category-product-slider .pos-title-category h2 { font-size: 18px; } }
.category-product-slider .pos-title-category h2:before { content: ""; height: 2px; width: 60px; background: #f0ce16; position: absolute; left: 0; bottom: -2px; }
@media (max-width: 1199px) { .category-product-slider .col-category { margin-bottom: 30px; }
  .category-product-slider .col-category:last-child { margin: 0; } }
.category-product-slider .item-product { padding: 10px 0; margin-bottom: 10px; }
.category-product-slider .item-product:before { display: none; }
.category-product-slider .item-product:last-child { margin: 0; }
.category-product-slider .item-product .products-inner { float: left; width: 125px; margin-right: 20px; }
@media (max-width: 360px) { .category-product-slider .item-product .products-inner { width: 120px; } }
@media (max-width: 320px) { .category-product-slider .item-product .products-inner { width: 90px; } }
.category-product-slider .item-product .product-contents { display: block; width: auto; overflow: hidden; padding: 25px 0 0 0; position: relative; }
.category-product-slider .item-product .product-contents .actions { position: absolute; background: white; left: 0; right: 0; top: 40px; bottom: 0; padding-top: 10px; opacity: 0; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; }
@media (max-width: 360px) { .category-product-slider .item-product .product-contents { padding: 10px 0 0 0; }
  .category-product-slider .item-product .product-contents .actions { top: 25px; } }
.category-product-slider .item-product:hover .actions { opacity: 1; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; }
.category-product-slider .owl-buttons > div { top: 0; margin-top: -58px; width: 25px; height: 25px; line-height: 25px; opacity: 1; }
.category-product-slider .owl-buttons > div.owl-prev { left: auto !important; right: 30px; }
.category-product-slider .owl-buttons > div.owl-next { right: 0 !important; }
