@import "compass";
@import "../../theme_variables";
/*******************************************************************
					Cart Block Styles
********************************************************************/
#header .shopping_cart {
	position: relative;
	float: right;
    height: 60px;
	width:60px;
	@media (min-width: $screen-md) {
		position:absolute;
		bottom:-90px;
		right:0;
	}
}
.shopping_cart {
	&:hover > a:first-child {
		color:$hover-color;
		@include pos-transition (300ms);
	}
	> a:first-child {
		position:relative;
		display: block;
		color:$light-text-color;
		font-size:0;
		text-align:center;
		text-transform:capitalize;
		
		&:before {
			font-family: 'Material-Design-Iconic-Font';
			display:inline-block;
			font-size:20px;
			content: "\f1cb";
			line-height:60px;
		}
		span.ajax_cart_product_txt, span.ajax_cart_product_txt_s {
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
				
			}
		}
		span.ajax_cart_quantity   {
			display:inline-block !important;
			width:20px;
			height:20px;
			border-radius:100%;
			font-size:12px;
			font-weight:700;
			background:#e91113;
			position:absolute;
			left:35px;
			top:12px;
			color:$light-text-color;
		}
		span.ajax_cart_total {
			font-size:14px;
			font-weight:700;
			color:#f65656;
			display:none !important;
		}
		span.ajax_cart_no_product {
			display:none !important;
		}
		b {
			color:#313131;
			font-size: 15px;
			display:none;
			text-transform:capitalize;
			font-weight: 500;
			padding:0 0 5px 30px;
			position:relative;
			&:after {
				content: "\f107";
				font-family:$font-icon;
				font-size: 14px;
				line-height: 1;
				padding-left: 15px;
				color: #313131;
				vertical-align: middle;
			}
		}
		 &:before {
			
		} 
	}
	.block_cart_expand, .block_cart_collapse {
		&:after {
			content: "\f0d7";
			font-family: $font-icon;
			display: inline-block;
			float: right;
			font-size: 18px;
			color: #686666;
			padding: 6px 0 0 0;
		}
	}
	.block_cart_collapse {
		&:after {
			content: "\f0d8";
			padding: 4px 0px 2px 0px;
		}
	}
}

.cart_block {
	.cart_block_list {
		.remove_link {
			position: absolute;
			right: 10px;
			top: 19px;
		}
		.remove_link a,
		.ajax_cart_block_remove_link {
			color: $link-color;
			display: block;
			width: 100%;
			height: 100%;
			&:before {
				display: inline-block;
				content: "\f057";
				font-family: $font-icon;
				font-size: 18px;
				line-height: 18px;
			}
			&:hover {
				color: $link-hover-color;
			}
		}
	}
	.cart-images {
		float: left;
		margin-right: 20px;
	}
	.cart-info {
		overflow: hidden;
		position: relative;
		padding-right: 20px;
		.product-name {
			padding-bottom: 5px;
			margin-top: -4px;
			a {
				font-size: 13px;
				line-height: 18px;
				display: inline-block;
			}
		}
		.quantity-formated {
			display: inline-block;
			color: #9c9b9b;
			text-transform: uppercase;
			font-size: 10px;
    		padding-right: 5px;
    		.quantity{
    			font-size: 15px;
    		}
		}
		.price {
			color:#333333;
			font-size:14px;
			font-weight:600;
		}
	}
	dt {
		font-weight: normal;
		overflow: hidden;
		padding: 20px ;
		margin:0;
		position: relative;
	}
	dd {
		position: relative;
		.cart_block_customizations{
			border-top: 1px dashed $dark-background;
			li {
				padding: 10px 20px;

				.deleteCustomizableProduct {
					position: absolute;
					right: 10px;
				}
			}
		}

	}
	.cart_block_no_products {
		margin: 0;
		padding: 10px 20px;
	}
	.cart-prices {
		border-top: 1px solid $base-border-color;
		font-weight: 700;
		padding: 0 20px;
		color: #101010;
		font-size:14px;
		text-transform: uppercase;
		margin-bottom: 10px;
		.cart-prices-line {
			overflow: hidden;
			padding: 7px 0;
			&.last-line {
				border: none;
				padding:10px 0;
				.price {
					color: #101010;
					font-size:18px;
				}
				
			}
		}
		.cart_block_shipping_cost {
			color: #101010;
			font-size:18px;
		}
	}
	.cart-buttons {
		overflow: hidden;
		padding: 20px 20px 10px 20px;
		margin: 0;
		background:transparent;
		a {
			width: 100%;
			float: left;
			text-align: center;
			margin-bottom: 10px;
			margin-right: 10px;
			&#button_order_cart {
				margin-right: 0;
				padding:0;
				border: none;
				background:transparent;
				box-shadow:none;
				span {
					padding:0 25px ;
					font-size:14px;
					font-weight:normal;
					line-height:40px;
				    background:#393939;
					border-radius:30px;
					display:inline-block;	
					text-transform:uppercase;
					border:0;
					color: $light-text-color;
					@include pos-transition(300ms);
				}
				&:hover span {
					background:$hover-color;
					@include pos-transition(300ms);
				}
			}
		}
	}
}
/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header {
	.cart_block {
		position: absolute;
		top: 60px;
		right: 0;
		z-index: 100;
		display: none;
		height: auto;
		background:$light-background;
		@include nav-box-shaw;
		@include pos-radius;
		color: $light-text-color;
		width:300px;
		@media (max-width:$screen-xs-max) {
			top:60px;
			right:50%;
			-moz-transform: translateX(50%);
			-webkit-transform: translateX(50%);
			-o-transform: translateX(50%);
			-ms-transform: translateX(50%);
			transform:translateX(50%);
		}
		@media (max-width:$screen-xs - 1) {
			width:310px;
		}
		a {
			&:hover {
				color:$hover-color;
			}
		}
		.cart_block_list {
			.remove_link a,
			.ajax_cart_block_remove_link {
				outline: none;
				text-decoration: none;
				&:hover {
					color: #9c9b9b;
				}
			}
		}
		.price {
		
		}
		dt {
			border-bottom:$main_border;
			&.last_item {
				margin-bottom:0;
			}
		}
		.product-atributes {
			padding-bottom: 10px;
			font-size: 13px;
			a {
				color: #666666;
				
			}
		}
		.cart-prices {
			border: none;
			background:transparent;
		}
		.cart-buttons {
			border-top:$main_border;
		}
	}
	.block_content {
		margin-bottom: 0;
	}
}

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
	display: none
}

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
	float: right
}

.cart_block table.vouchers {
	clear: both;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
	tr td {
		padding: 2px;
		&.quantity{
			margin-right: 5px;
			min-width: 18px
		}
		&.delete{
			padding-left: 0;
			padding-right: 0;
			text-align: right;
			width: 15px;
		}
	}
}
/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 98;
	@include opacity(.20);
}

* html .layer_cart_overlay {
	position: absolute;
	left: 0;
	margin-left: -160px;
	@include opacity(.20)
}

#layer_cart {
	background-color: $light-background;
	position: absolute;
	display: none;
	z-index: 99;
	left:0;
	width: 84%;
	margin-right: 8%;
	margin-left: 8%;
	@include border-radius(4px);
	.layer_cart_product {
		padding: 30px 30px 30px 30px;
		overflow: hidden;
		position: static;
		.title {
			display: block;
			font: 400 18px/29px $font-family;
			font-family: Lato;
			color: #333333;
			margin-bottom: 22px;
			@media (max-width: $screen-xs-max) { // max 767px
				font-size: 18px;
				padding-right: 0;
				line-height: normal;
			}
			i {
				font-size: 30px;
				line-height: 30px;
				float: left;
				padding-right: 8px;
				@media (max-width: $screen-xs-max) { // max 767px
					font-size: 22px;
					line-height: 22px;
				}
			}
		}
		.product-image-container {
			max-width: 178px;
			border: 1px solid $base-border-color;
			padding: 5px;
			float: left;
			margin-right: 30px;
			@media (max-width: $screen-xs) { // max 480px
				float: none;
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
		.layer_cart_product_info {
			#layer_cart_product_title {
				display: block;
				padding-bottom: 8px;
			}
			> div {
				padding-bottom: 7px;
				strong {
					padding-right: 3px
				}
			}
		}
	}
	.layer_cart_cart {
		border-left: 1px solid $base-border-color;
		padding: 30px 30px 170px 30px;
		@include border-radius(0px 4px 4px 0px);
		position: relative;
		@media (min-width: $screen-lg) { // min 1200px
			min-height: 318px;
		}

		@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
			min-height: 360px;
		}

		@media (max-width: $screen-sm-max) { // max 991px
			@include border-radius(0px 0 4px 4px);
			border-left: none;
			border-top: 1px solid $base-border-color;
		}
		.title {
			display: block;
			font: 400 18px/29px $font-family;
			color: $base-text-color;
			border-bottom: 1px solid $base-border-color;
			padding-bottom: 13px;
			margin-bottom: 17px;
			font-family: Lato;
			@media (max-width: $screen-xs-max) { // max 767px
				font-size: 18px;
			}
		}
		.layer_cart_row {
			padding: 0 0 7px 0;
		}
		.button-container {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 0px 30px 20px 30px;
			.btn {
				margin-bottom: 10px;
			}
			span.exclusive-medium {
				margin-right: 5px;
				i {
					padding-right: 5px;
					color:$light-text-color;
				}
			}
		}
	}
	.cross {
		position: absolute;
		right: 7px;
		top: 8px;
		width: 25px;
		height: 25px;
		cursor: pointer;
		color: $base-text-color;
		z-index: 2;
		&:before {
			content: "\f057";
			display: block;
			font-family: $font-icon;
			font-size: 25px;
			line-height: 25px;
		}
		&:hover {
			color: $link-hover-color;
		}
	}
	.continue {
		cursor: pointer;
	}
	p {
		padding: 0px;
	}
}
/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart {
	.crossseling {
		.crossseling-content {
			border-top: 1px solid $base-border-color;
			padding: 26px 30px 40px 30px;
			position: relative;
		}
		h2 {
			font: 400 23px/26px $font-family;
			color: $base-text-color;
			margin-bottom: 25px;
		}
		#blockcart_list {
			max-width: 773px;
			width: 84%;
			margin: 0 auto;
			overflow: hidden;
			ul {
				display: block;
				li {
					float: left;
					width: 178px;
					margin: 0 0px 0 0;
					.product-image-container {
						border: 1px solid $base-border-color;
						text-align: center;
						padding: 5px;
						margin-bottom: 15px;

						img {
							width: 100%;
						}
					}
					.product-name {
						padding-bottom: 5px;

						a {
							font-size: 15px;
							line-height: 20px;
						}
					}
				}
			}
			a.bx-prev,
			a.bx-next {
				display: block;
				font-family: $font-icon;
				font-size: 20px;
				line-height: 20px;
				width: 20px;
				height: 20px;
				color: $base-text-color;
				text-indent: -5000px;
				position: absolute;
				top: 45%;
				margin-top: -20px;
				&:after {
					display: block;
					text-indent: 0;
				}
				&:hover {
					color: #c0c0c0;
				}
				&.disabled {
					display: none;
				}
			}
			a.bx-prev {
				left: 5%;
				&:after {
					content: "\f137";
				}
			}
			a.bx-next {
				right: 5%;
				&:after {
					content: "\f138";
				}
			}
			.bx-controls {
				overflow: hidden;
			}
		}
	}
}
