@import "compass";
@import "../../theme_variables";

/* Block newsletter */
#columns #newsletter_block_left {
	.form-group {
		margin-bottom: 0;
    
		.form-control {
			max-width: 222px;
			display: inline-block;
			margin-right: 6px;
			@media (min-width: $screen-sm) and (max-width: $screen-md-max) { // min 768px max 1199px
				margin-bottom: 10px;
				margin-right: 0;
			}
		}
	}
	.success_inline, .warning_inline {
		text-align: left;
		padding: 1px 0 0 0;
		margin-bottom: -19px;
	}
	.success_inline	{
		color: #418B19;
	}
	.warning_inline {
		color: #f13340;
	}
}
/* Block newsletter footer */
#footer {
	#newsletter_block_left {
		overflow: hidden;
		@media (min-width: $screen-md) {
			max-width:60%;
		}
		margin:0 auto;
		@media (max-width: $screen-xs-max) { // max 767px
			width: 100%;
			text-align:center;
		}
		h4 {
			color:$light-text-color;
			font-size: 18px;
			font-weight: 800;
			margin: 0;
			margin-right:20px;
			float:left;
			background: none;
			text-transform: none;
			text-transform:uppercase;
			line-height: 50px;
			border: none;
			padding:0;
			&:after, &:before{
				display:none;
			}
			@media (max-width: $screen-xs - 1) { // max 479
				display:none;
			}
		}
		.block_content {
			overflow: hidden;
		}
		.form-group {
			margin-bottom: 0;
			background:#1f1f1f;
			position:relative;
			border-radius:30px;
			overflow: hidden;
			.form-control {
				height:50px;
				background:#1f1f1f;
				border:0;
				color:#bcbcbc;
				font-size:14px;
				padding: 10px 60px 10px 30px;
				letter-spacing:0.01em;
				display: inline-block;
				&:focus {
					@include box-shadow(black 0px 0px 0px);
				}
				@media(max-width:$screen-md-max) {
					max-width:100%;
				}
			}
			.button-small {
				position:absolute;
				top:0;
				right:0;
				height:50px;
				background:transparent;
				border:0;
				padding:0;
				color: $hover-color;
				display:inline-block;
				vertical-align:top;
				line-height:50px;
				text-transform:caption;
				font-size:0;
				&:before {
					font-family: 'Material-Design-Iconic-Font';
					display: inline-block;
					font-size: 14px;
					content: "\f194";
				}
				&:hover {
					color:$light-text-color;
				}
				span{
					
				}	
			}
		}
		.warning_inline {
			display: block;
			color: #f13340;
			font-size: 13px;
			line-height :26px;
			clear: both;
			@media (min-width: $screen-lg) { // min 1200px
				display: inline-block;
				position: relative;
				top: -35px;
				margin-bottom: -35px;
				left: 15px;
				clear: none;
			}
		}
	
	}
}