@import "compass";
@import "../../theme_variables";

#pos_search_top{
	padding: 0;
	.form_search{
		padding: 0;
		position: relative;
		width: 100%;
		float:left;
		height:50px;
		color:#999999;
		label{
			display: none;
		}
		.form-control{
			padding:0 90px 0 160px;
			border-radius:30px;
			width:100%;
			height: 50px;
			line-height: 50px;
			font-size: 13px;
			color:#999999;
			border:0;
			&:focus {
				box-shadow:none;
			}
			@media (max-width:$screen-xs - 1) {
				padding-right:0;
			}
		}
		.search_submit{
			position: absolute;
			top: 3px;
			right: 3px;
			height: 44px;
			line-height:44px;
			text-align:center;
			width:75px;
			color: $light-text-color;
			background:$hover-color;
			border-radius:30px;
			padding: 0;		
			border: 0;
			font-size: 0;
			@include pos-transition(300ms);
			&:hover{
				i {
					-webkit-animation: pulse 800ms ease-in-out infinite;
					-moz-animation: pulse 800ms ease-in-out infinite;
					-ms-animation: pulse 800ms ease-in-out infinite;
					animation: pulse 800ms ease-in-out infinite;
				}
			}
			i {
				font-size: 20px;
				line-height:40px;
			}		
		}
		.form-group{
			position:absolute;
			left:0;
			top:0;
			display:inline-block;
			width: 150px;
			margin:0;
			background:$light-background;
			height:50px;
			border-radius:50px;
			.bootstrap-select{
				width: 150px;
				margin:0;
				.btn.selectpicker{
			
					margin:0;
					position:relative;
					padding: 0 20px;
					border: 0;
					background:transparent;
					color: #333333;
					text-transform: capitalize;
					line-height:50px;	
					box-shadow:none;
					border:0;
					font:{
						weight: normal;
						size:13px;
					}
					&:before {
						content:"";
						width:1px;
						height:22px;
						background:#3b3b3b;
						position:absolute;
						top:50%;
						margin-top:-11px;
						right:0;
					}					
				}
				&.btn-group .btn .caret	{
					font-size:0;
					width:auto;
					height:auto;
					border:0;
					top:4px;
					right:15px;
					&:after {
						content: "\f2f9";
						font-family: 'Material-Design-Iconic-Font';
						display:block;
						font-size:14px;
						color:#555555;
					}
				}
			}
		
		}
	}
}
@media (max-width:$screen-xs - 1) {
	#pos_search_top{
		.form_search{
			.form-control{
				padding: 0 50px 0 105px;
				font-size:10px;
			}
			.form-group{
				width: 103px;
				.bootstrap-select{
					width: 103px;
					.btn.selectpicker{
						padding: 0 5px;
						font-size:10px;
					}
				}
			}
		}
	}
	
}
.ac_results {
	border:$main_border !important;
	padding:0 10px;
	li {
		cursor:pointer !important;
		img {
			width:60px;
		}
	}
	.ac_product_name {
		padding:0 10px;
	}
	#ac_search_more {
		font-size:14px;
		color:#333333;
		font-weight:500;
		line-height:30px;
		display:block;
		padding:0 10px;
		cursor:pointer;
		&:hover{
			color:$hover-color;
		}
	}
}	
