.tags_block .block_content {
  overflow: hidden; }
  .tags_block .block_content a {
    display: inline-block;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 25px;
    padding: 0 25px;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    color: #9d9d9d;
    margin: 0 5px 5px 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear; }
    .tags_block .block_content a:hover {
      color: #fff;
      border-color: #ed323a;
      background: #ed323a;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear; }
    @media (min-width: 768px) and (max-width: 991px) {
      .tags_block .block_content a {
        font-size: 12px;
        padding: 0 5px; } }

/*# sourceMappingURL=blocktags.css.map */
