@import "compass";
@import "theme_variables";
/*********************************************************************
					Maintenance Page Styles
**********************************************************************/
html {
	background-color: lighten(#292929, 2%);
}
#maintenance {
	margin: 50px 0 0 0;
	background-color: #292929;
	border: 1px solid #222;
	@media (min-width: $screen-lg) { // > 1200
		margin: 126px 0 0 0;
		padding: 50px;
	}
	.logo {
		margin: 0 0 31px 0;
		text-align: center;
	}
	h1 {
		font: 24px $font-custom;
		color: white;
		padding: 0 0 14px 0;
		margin: 0 0 19px 0;
	}
	#message {
		font: 14px $font-custom;
		padding: 0 0 0 18px;
		color: #d3d3d3;
		text-align: center;
	}
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 500px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 500px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 500px;
	}
}
@media only screen and (min-width: 1200px) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}
