
{capture name=path}{l s='Alignet payment.' mod='etalignet'}{/capture}
{include file="$tpl_dir./breadcrumb.tpl"}

<div class="head_payment">
	<img src="{$this_path_img}alignet.png" class="f_right">
</div>
<div class="body_payment">
	{if $errorTransaction eq 'true'}
	<p class="error">
		<span class="title"> TRANSACCION CANCELADA !<br> </span>
		<span> <b>Código de Error:</b> {$errorCode} <br></span>
		<span> <b>Motivo:</b> {$errorMessage_es} <br></span>
	</p>
	<br>
	<p> Puede volver a realizar este pedido desde su historial de pedidos dando click en el boton "Volver a Pedir" en los detalles de su pedido. </p>
	<br>
	{else}
	<p class="success">
		<span> Su Transacción a sido realizada Correctamente </span>
	</p>
	<br>
	<p>	Puede revisar su pedido y descargar la factura en: "Historia y detalles de mis pedidos"dentro de su cuenta.	</p>
	{/if}

	<p> Si desea contactarse con nosotros desde nuestro centro de <a style="color:red" href="{$url_shop}/index.php?controller=contact">Atención al Cliente </a> e indicar como Referencia de Pedido: {$reference}  </p>
</div>








<p style="display:{if $advanced_show_arrayout} block {else} none {/if}">

errorCode = {$errorCode} <br>
IDACQUIRER = {$IDACQUIRER} <br>
IDCOMMERCE = {$IDCOMMERCE} <br>
<span > XMLRES = {$XMLRES} <br><br> </span>
<span > DIGITALSIGN = {$DIGITALSIGN} <br><br> </span>
SESSIONKEY = {$SESSIONKEY} <br><br>
PATH_KEY_ALIGNET_PUBLIC_SIGNATURE = {$PATH_KEY_ALIGNET_PUBLIC_SIGNATURE} <br><br>
KEY_COMMERCE_PRIVATE_CRYPTO = {$KEY_COMMERCE_PRIVATE_CRYPTO} <br><br>
vector = {$vector} <br>
authorizationResult = {$authorizationResult} <br>
authorizationCode = {$authorizationCode} <br>
errorCode = {$errorCode} <br>
errorMessage = {$errorMessage} <br>
purchaseOperationNumber = {$purchaseOperationNumber} <br>
billingEMail = {$billingEMail} <br>
billingFirstName = {$billingFirstName} <br>
billingLastName = {$billingLastName} <br>
billingAddress = {$billingAddress} <br>
billingPhone = {$billingPhone} <br>
billingCity = {$billingCity} <br>
billingState = {$billingState} <br>
billingCountry = {$billingCountry} <br>
billingZIP = {$billingZIP} <br>
reference = {$reference} <br>
_purchaseOperationNumber = {$_purchaseOperationNumber} <br>

</p>