<div class="row">
	<div class="col-xs-12 col-md-12">
        <p class="payment_module">
        	<a class="pagoefectivo" href="{$link->getModuleLink('etpagoefectivom1', 'validation')}">
            	{l s='PagoEfectivo' mod='etpagoefectivom1'} <span>{l s='Buy with PagoEfectivo and paid through Internet or at any branch of BCP, BBVA, Interbank, Scotiabank, in Agencies Western Union Payment Services and approved establishments have PagoEfectivo logo and / or Fullcarga.' mod='etpagoefectivom1'}  </span>
            </a>
            <!-- <a class="iframe no-a" href="{$link->getModuleLink('etpagoefectivom1', 'popup')}" class="pe_paypment">  {l s='What is PagoEfectivo?' mod='etpagoefectivom1'}</a> -->
        </p>
    </div>
</div>


