/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0; }
  #columns #newsletter_block_left .form-group .form-control {
    max-width: 222px;
    display: inline-block;
    margin-right: 6px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      #columns #newsletter_block_left .form-group .form-control {
        margin-bottom: 10px;
        margin-right: 0; } }
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px; }
#columns #newsletter_block_left .success_inline {
  color: #418B19; }
#columns #newsletter_block_left .warning_inline {
  color: #f13340; }

/* Block newsletter footer */
#footer #newsletter_block_left {
  overflow: hidden;
  margin: 0 auto; }
  @media (min-width: 992px) {
    #footer #newsletter_block_left {
      max-width: 60%; } }
  @media (max-width: 767px) {
    #footer #newsletter_block_left {
      width: 100%;
      text-align: center; } }
  #footer #newsletter_block_left h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    margin: 0;
    margin-right: 20px;
    float: left;
    background: none;
    text-transform: none;
    text-transform: uppercase;
    line-height: 50px;
    border: none;
    padding: 0; }
    #footer #newsletter_block_left h4:after, #footer #newsletter_block_left h4:before {
      display: none; }
    @media (max-width: 479px) {
      #footer #newsletter_block_left h4 {
        display: none; } }
  #footer #newsletter_block_left .block_content {
    overflow: hidden; }
  #footer #newsletter_block_left .form-group {
    margin-bottom: 0;
    background: #1f1f1f;
    position: relative;
    border-radius: 30px;
    overflow: hidden; }
    #footer #newsletter_block_left .form-group .form-control {
      height: 50px;
      background: #1f1f1f;
      border: 0;
      color: #bcbcbc;
      font-size: 14px;
      padding: 10px 60px 10px 30px;
      letter-spacing: 0.01em;
      display: inline-block; }
      #footer #newsletter_block_left .form-group .form-control:focus {
        -moz-box-shadow: black 0px 0px 0px;
        -webkit-box-shadow: black 0px 0px 0px;
        box-shadow: black 0px 0px 0px; }
      @media (max-width: 1199px) {
        #footer #newsletter_block_left .form-group .form-control {
          max-width: 100%; } }
    #footer #newsletter_block_left .form-group .button-small {
      position: absolute;
      top: 0;
      right: 0;
      height: 50px;
      background: transparent;
      border: 0;
      padding: 0;
      color: #ed323a;
      display: inline-block;
      vertical-align: top;
      line-height: 50px;
      text-transform: caption;
      font-size: 0; }
      #footer #newsletter_block_left .form-group .button-small:before {
        font-family: 'Material-Design-Iconic-Font';
        display: inline-block;
        font-size: 14px;
        content: "\f194"; }
      #footer #newsletter_block_left .form-group .button-small:hover {
        color: #fff; }
  #footer #newsletter_block_left .warning_inline {
    display: block;
    color: #f13340;
    font-size: 13px;
    line-height: 26px;
    clear: both; }
    @media (min-width: 1200px) {
      #footer #newsletter_block_left .warning_inline {
        display: inline-block;
        position: relative;
        top: -35px;
        margin-bottom: -35px;
        left: 15px;
        clear: none; } }

/*# sourceMappingURL=blocknewsletter.css.map */
