@import "compass";
@import "../../theme_variables";
.header_userinfo {
	float:left;
	.top-userinfo {
		display:inline-block;
		position: relative;
		&:hover .top-links {
			color:$hover-color;
		}
		.top-links {
			font-weight: normal;
			padding:10px 15px;
			line-height:30px;
			color:$light-text-color;
			text-shadow:none;
			cursor: pointer;
			font-size:13px;
			text-transform:capitalize;
			strong {
				font-weight: normal;
			}
			&:after {
				content: "\f107";
				font-family: $font-icon;
				font-size: 12px;
				line-height: 1;
				padding-left: 7px;
			}
		}
		ul {
			display: none;
			background:$light-background;
			@include nav-box-shaw;
			@include pos-radius;
			position: absolute;
			padding:10px 15px;
			text-transform:capitalize;
			top: 50px;
			left:0;
			min-width: 150px;
			z-index: 2;
			li {
				color:#393939;
				line-height: 30px;
				font-size: 13px;
				a,
				> span {
					padding: 0 5px;
					display: inline-block;
					color: #393939;
				}
				&.selected a, &:hover a {
					color:$hover-color;
				}
				
			}
		}
	}
	@media (max-width:$screen-xs-max) {
		float:none;
		display:inline-block !important;
	}
}
.header_user_top {
	float:right;
	@media (max-width:$screen-xs-max) {
		float:none;
	}
	@media (min-width:$screen-md) {
		position:absolute;
		bottom:-90px;
		right:60px;
	}
	a {
		width:60px;
		height:60px;
		display:inline-block;
		font-size:0;
		line-height:60px;
		text-align:center;
		color:$light-text-color;
		&:hover {
			color:$hover-color;
		}
		&:before {
			font-family: 'Material-Design-Iconic-Font';
			display:inline-block;
			font-size:22px;
			content: "\f1c9";
		}
		&.wishlist_block {
			&:before {
				content: "\f15e";
			}
		}
		&.Compare_block{
			&:before {
				content: "\f1b9";
			}
		}
	}
}