p.payment_module a.dinersclub{
	background: url(../img/payment.png) 15px 15px no-repeat #fbfbfb;
}


p.payment_module a.dinersclub:after{
	display: block;
	content: "\f054";
	position: absolute;
	right: 15px;
	margin-top: -11px;
	top: 50%;
	font-family: "FontAwesome";
	font-size: 25px;
	height: 22px;
	width: 14px;
	color: #777777;
}


#preloader{}
#preloader .text{padding-top: 20px}
#preloader .loading{padding: 20px 0 150px 0 }

#parameters{
padding: 25px;
border: 0px solid #939393;
display: table;
width: 100%;
}
#parameters .text{display: table;width: 100%;}



