#product_comments_block_extra {
  padding: 0;
  font-weight: normal;
  line-height: 18px;
  margin: 10px 0 0 0; }
  #product_comments_block_extra .comments_note {
    margin-bottom: 5px;
    display: inline-block; }
  #product_comments_block_extra .comments_note span {
    display: none; }
  #product_comments_block_extra .comments_note span,
  #product_comments_block_extra .star_content {
    float: left;
    color: #333; }
  #product_comments_block_extra .star_content {
    margin-top: 1px; }
  #product_comments_block_extra div.star:after {
    content: "\f005";
    font-family: "FontAwesome";
    display: inline-block;
    color: #cccccc; }
  #product_comments_block_extra div.star_on:after {
    content: "\f005";
    font-family: "FontAwesome";
    display: inline-block;
    color: #f0ce16; }
  #product_comments_block_extra .comments_advices {
    display: inline-block;
    vertical-align: top;
    margin: 0; }

.comments_advices li {
  display: inline-block;
  line-height: 21px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .comments_advices li {
      display: block;
      line-height: 20px; } }
.comments_advices a {
  text-decoration: none;
  color: #666666;
  position: relative;
  margin-right: 8px;
  line-height: 21px;
  padding: 0;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
  display: inline-block; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .comments_advices a {
      float: none;
      line-height: 20px; } }
  .comments_advices a:before {
    background: #929292;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: white;
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 15px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin-right: 6px;
    text-align: center;
    width: 30px;
    display: none;
    /*max 1199px*/ }
    @media (max-width: 1199px) {
      .comments_advices a:before {
        display: none; } }
  .comments_advices a.reviews:before {
    content: "\f0e5"; }
  .comments_advices a.open-comment-form:before {
    content: "\f040"; }
  .comments_advices a:hover {
    color: #ed323a; }
  .comments_advices a.reviews {
    margin-right: 9px;
    display: none; }
    @media (min-width: 768px) and (max-width: 991px) {
      .comments_advices a.reviews {
        margin-right: 0;
        padding: 0;
        border: none; } }

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
  width: 585px; }

#fancybox-content {
  width: 585px;
  border-width: 0; }

#new_comment_form {
  overflow: hidden;
  color: #333;
  text-align: left; }
  #new_comment_form h2 {
    margin-bottom: 10px;
    border: 0;
    text-transform: capitalize; }
  #new_comment_form .title {
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    background: #333; }
  #new_comment_form ul.grade_content {
    list-style-type: none;
    margin: 0 0 20px 0; }
    #new_comment_form ul.grade_content li {
      width: 50%; }
    #new_comment_form ul.grade_content span {
      display: inline-block;
      padding: 0 10px;
      width: 150px;
      font-weight: bold; }
    #new_comment_form ul.grade_content .cancel {
      margin-right: 5px; }
  #new_comment_form .product {
    padding: 15px; }
    #new_comment_form .product img {
      border: 1px solid #f2f2f2; }
    #new_comment_form .product .product_desc {
      line-height: 18px;
      color: #666; }
      #new_comment_form .product .product_desc .product_name {
        padding: 10px 0 5px;
        font-size: 13px;
        color: #000; }
  #new_comment_form .new_comment_form_content {
    padding: 15px 25px 15px 15px;
    background: #f8f8f8; }
    @media (max-width: 767px) {
      #new_comment_form .new_comment_form_content {
        padding-left: 25px; } }
    #new_comment_form .new_comment_form_content .intro_form {
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 12px; }
  #new_comment_form label {
    display: block;
    margin: 12px 0 4px 0;
    font-weight: bold;
    font-size: 12px; }
  #new_comment_form input,
  #new_comment_form textarea {
    padding: 0 5px;
    height: 28px;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff; }
  #new_comment_form textarea {
    height: 80px; }
  #new_comment_form .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: right; }
  #new_comment_form #criterions_list {
    border-bottom: 1px solid #CCC;
    padding-bottom: 15px;
    list-style-type: none; }
    #new_comment_form #criterions_list li {
      margin-bottom: 10px; }
    #new_comment_form #criterions_list label {
      display: inline;
      float: left;
      margin: 0 10px 0 0; }
    #new_comment_form #criterions_list .star_content {
      float: left; }
  #new_comment_form #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px; }

/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab {
  margin: 0 0 20px 0; }
  #product_comments_block_tab div.comment {
    margin: 0 0 14px;
    padding-top: 14px;
    border-top: 1px solid #f2f2f2; }
    #product_comments_block_tab div.comment:first-child {
      padding: 0;
      border: none; }
    #product_comments_block_tab div.comment .comment_author {
      padding: 0 20px;
      line-height: 18px; }
      #product_comments_block_tab div.comment .comment_author span {
        font-weight: bold;
        float: left; }
      #product_comments_block_tab div.comment .comment_author .star_content {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 5px; }
    #product_comments_block_tab div.comment .comment_details {
      overflow: hidden;
      border-left: 1px solid #f2f2f2; }
      @media (max-width: 991px) {
        #product_comments_block_tab div.comment .comment_details {
          border-left: none; }
          #product_comments_block_tab div.comment .comment_details ul {
            list-style-type: none;
            margin: 0; }
            #product_comments_block_tab div.comment .comment_details ul li {
              padding: 2px 0 2px; }
              #product_comments_block_tab div.comment .comment_details ul li:before {
                font-family: "FontAwesome";
                content: "\f0da";
                color: #333;
                margin-right: 8px; } }
  #product_comments_block_tab div.star:after {
    content: "\f005";
    font-family: "FontAwesome";
    display: inline-block;
    color: #cccccc; }
  #product_comments_block_tab div.star_on:after {
    content: "\f005";
    font-family: "FontAwesome";
    display: inline-block;
    color: #f0ce16; }
  #product_comments_block_tab .comment_author_infos {
    clear: both;
    padding-top: 9px; }
    #product_comments_block_tab .comment_author_infos strong {
      display: block;
      color: #333;
      margin-bottom: 10px; }
    #product_comments_block_tab .comment_author_infos em {
      color: #adadad; }
  #product_comments_block_tab a {
    text-decoration: none;
    font-weight: bold; }
  #product_comments_block_tab span.report_btn {
    cursor: pointer; }
  #product_comments_block_tab span.report_btn:hover {
    text-decoration: underline; }

.fl {
  float: left; }

.fr {
  float: right; }

/*# sourceMappingURL=productcomments.css.map */
