#special_products_home {
  margin-bottom: 80px; }
  #special_products_home .pos-title {
    margin-bottom: 35px; }
    #special_products_home .pos-title h2 {
      font-size: 20px; }
  #special_products_home .item-product {
    padding: 10px 0;
    margin-bottom: 30px; }
    #special_products_home .item-product:before {
      display: none; }
    #special_products_home .item-product:last-child {
      margin: 0; }
    #special_products_home .item-product .products-inner {
      float: left;
      width: 125px;
      margin-right: 20px; }
      @media (max-width: 360px) {
        #special_products_home .item-product .products-inner {
          width: 120px; } }
      @media (max-width: 320px) {
        #special_products_home .item-product .products-inner {
          width: 90px; } }
    #special_products_home .item-product .product-contents {
      display: block;
      width: auto;
      overflow: hidden;
      padding: 25px 0 0 0;
      position: relative; }
      #special_products_home .item-product .product-contents .actions {
        position: absolute;
        background: #fff;
        left: 0;
        right: 0;
        top: 40px;
        bottom: 0;
        padding-top: 10px;
        opacity: 0;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        transition: all 300ms linear; }
      @media (max-width: 360px) {
        #special_products_home .item-product .product-contents {
          padding: 10px 0 0 0; }
          #special_products_home .item-product .product-contents .actions {
            top: 25px; } }
    #special_products_home .item-product:hover .actions {
      opacity: 1;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear; }
  #special_products_home .owl-buttons > div {
    top: 0;
    margin-top: -60px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #a2a2a2;
    background: transparent;
    opacity: 1; }
    #special_products_home .owl-buttons > div.owl-prev {
      left: auto !important;
      right: 30px; }
    #special_products_home .owl-buttons > div.owl-next {
      right: 0 !important; }
    #special_products_home .owl-buttons > div:before {
      font-size: 24px; }

/*# sourceMappingURL=posspecialproducts.css.map */
