
/******* Block Complaints Book  *************/
#pscomplaintsbook_block_left h4 {

}

#pscomplaintsbook_block_left .block_content {
 	font-size: 13px;
	padding: 10px 5px;
}

#pscomplaintsbook_block_left .block_content a{
	float: right;
	font-size: 11px;
	color: #333;
	font-weight: bold;
}


/********* Page  Complaints Book **********/
#complaintsbook-wrapper #datos-comercio div.grid_5.alpha.omega {padding: 0!important}
#complaintsbook-wrapper {border:1px solid #E2E2E2;}
#complaintsbook-wrapper div { padding:7px 0;background: #F7F7F7}
#complaintsbook-wrapper div span{padding:0 10px }
#complaintsbook-wrapper .center{text-align: center;}
#complaintsbook-wrapper .title{background: #E2E2E2; font-weight: bold}

#complaintsbook-wrapper .company-name{text-transform: uppercase;}
#complaintsbook-wrapper .company-direction{}

#complaintsbook-wrapper #wrapper-date{border:1px solid #E2E2E2; padding: 0!important }
#complaintsbook-wrapper #wrapper-number{border:1px solid #E2E2E2;border-left: 0; padding: 14px 0!important }

.enviar_reclamacion { padding: 4px; margin-top: 10px; float: right; font-size: 13px}