<div class="header_user_top">
	{$context = Context::getContext()}
	<a class="Compare_block" href="{$link->getPageLink('products-comparison')|escape:'html':'UTF-8'}" title="{l s='My Compare' mod='blockuserinfo'}">{l s='Compare' mod='blockuserinfo'}</a>
	<a class="link-wishlist wishlist_block" href="{$context->link->getModuleLink('blockwishlist', 'mywishlist')}" title="{l s='My wishlist' mod='blockuserinfo'}">{l s='wishlist' mod='blockuserinfo'}
	</a>
	
</div>