{if $advanced_hidden_hookpayment}

	{if $id_customer eq $id_authorized}

		<div class="row">
			<div class="col-xs-12 col-md-12">
		        <p class="payment_module">
		        	<a class="alignet" href="{if $advanced_skip_preconfirm}{$link->getModuleLink('etalignet', 'validation')}{else}{$link->getModuleLink('etalignet', 'payment_execution')}{/if}" title="{l s='Pay by Credit Card' mod='etalignet'}">
		            	{l s='Visa, Mastercard o American Express:' mod='etalignet'} <span> {l s='Realice sus pagos con nuestra pasarela de pagos Online' mod='etalignet'}  </span>
		            </a>
		        </p>
		    </div>
		</div>
	{else}

	{/if}

{else}

	<div class="row">
			<div class="col-xs-12 col-md-12">
		        <p class="payment_module">
		        	<a class="alignet" href="{if $advanced_skip_preconfirm}{$link->getModuleLink('etalignet', 'validation')}{else}{$link->getModuleLink('etalignet', 'payment_execution')}{/if}" title="{l s='Pay by Credit Card' mod='etalignet'}">
		            	{l s='Visa, Mastercard o American Express:' mod='etalignet'} <span> {l s='Realice sus pagos con nuestra pasarela de pagos Online' mod='etalignet'}  </span>
		            </a>
		        </p>
		    </div>
		</div>


{/if}



